@media (min-width: 300px) {
    html {
        font-size: 50px;
    }
    
    header h1 {
        font-size: 0.3rem;
    }
    
    .top-container {
        background-size: 100%;
    }
    
    .about-wrapper {
        height: 4rem;
    }
    
    .about-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .about-container img {
        margin-top: 0.4rem;
    }
    
    .skills-wrapper {
        height: 8rem;
    }
    
    .skills-wrapper h1 {
        margin-top: 0;
    }
    
    .skills-container {
        display: flex;
        flex-wrap: wrap;
    }
    
    .skill {
        width: 50%;
    }
    
    .skill p {
        padding-bottom: 0.5rem;
    }
}

@media (min-width: 700px) {
    html {
        font-size: 87px;
    }
    
    .skills-wrapper {
        height:7rem;
    }
    
    .skills-wrapper h1 {
        margin-top: 0.5rem;
    }
    
    .contact-wrapper {
        height: 3rem;
    }
}

@media (min-width: 1400px) {
    .about-wrapper {
        height: 5rem;
    }
    
    .skills-wrapper h1 {
        margin-top: 4rem
    }
}